button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  width: 100px;
  height: 50px;
}
.Add-btn {
  background-color: white;
  color: blue;
  border: 2px solid #4CAF50; /* Green */
  width: 25px;
  height: 25px;
}

form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
form label  {
  color:red;
}
.Modal-btn{
  color: aqua;
}