
img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
}



.card {
  width: 400px; 
  margin: 0px auto; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
}

.card:hover .card-image img { 
  width: 160%;
  filter: grayscale(0);
}
.card-body {
  text-align:center;  
padding: 15px 20px; 
box-sizing: border-box; 
}

.card {
  flex: 0 1 calc(25% - 1em);
}


