
img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
}



.card {
  width: 500px; 
  
  background-color:whitesmoke; 

  margin: 10px 0;
}

.card:hover .card-image img { 
  width: 200%;
  filter: grayscale(0);
}
.card-body {
  text-align-last: center; 
padding-block: initial; 
box-sizing: initial; 
}



