.App {
  text-align: center;

  
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body {
  background-color: black;
}



.listCard {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}
